[submodule "spring-boot"]
	path = spring-boot
	url = https://github.com/bins-dev/spring-boot.git
[submodule "spring-data-commons"]
	path = spring-data-commons
	url = https://github.com/bins-dev/spring-data-commons.git
[submodule "spring-boot-admin"]
	path = spring-boot-admin
	url = https://github.com/bins-dev/spring-boot-admin.git
[submodule "spring-framework"]
	path = spring-framework
	url = https://github.com/bins-dev/spring-framework.git
[submodule "spring-security"]
	path = spring-security
	url = https://github.com/bins-dev/spring-security.git
[submodule "spring-kafka"]
	path = spring-kafka
	url = https://github.com/bins-dev/spring-kafka.git
[submodule "spring-data-redis"]
	path = spring-data-redis
	url = https://github.com/bins-dev/spring-data-redis.git
