[submodule "spring-boot"]
	path = spring-boot
	url = https://github.com/bins-dev/spring-boot.git
[submodule "spring-data-commons"]
	path = spring-data-commons
	url = https://github.com/bins-dev/spring-data-commons.git
[submodule "spring-boot-admin"]
	path = spring-boot-admin
	url = https://github.com/bins-dev/spring-boot-admin.git
[submodule "spring-framework"]
	path = spring-framework
	url = https://github.com/bins-dev/spring-framework.git
